D:/my_folder/education/solfware/python/python_tutorial/main/.md/main/python_tutorial/modules/django
D:/my_folder/education/solfware/python/python_tutorial/main/.md/main/python_tutorial/modules/mysql
D:/my_folder/education/solfware/python/python_tutorial/main/.md/main/python_tutorial/modules/pyqt6
D:/my_folder/education/solfware/python/python_tutorial/main/.md/main/python_tutorial/modules/sqlite